/* Dashboard Container Styles */

.dashboard-container .dashboard-item {
    background: white;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #ECECEC;
    float: left;
    margin-bottom: 20px;
    padding: 5px 0;
}

.dashboard-item .dashboard-item-header {
    border-bottom: 1px #ECECEC solid;
    margin-bottom: 15px;
    padding: 10px 10px 15px;
}

.dashboard-item .dashboard-title {
    color: #333;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.dashboard-item .large-text {
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    line-height: 1;
}

.dashboard-container .loading {
    text-align: center;
    padding: 40px;
}
.dashboard-container .loading img {
    height: 50px;
    width: 50px;
}

.dashboard-container .tooltip-info {
    background: white;
    box-shadow: 0px 0px 3px #999;
    color: #333;
    font-size: 15px;
}

.dashboard-container .tooltip-info .tooltip-header {
    padding: 10px 20px;
    border-bottom: 1px solid #CCC;
}
.dashboard-container .tooltip-info .tooltip-body {
    padding: 10px 20px;
}

.dashboard-container .btn-view-mode {
    background: white;
    border-top: 3px solid white;
    color: #AAA;
    border: 0;
    padding: 20px 30px;
}
.dashboard-container .btn-view-mode:focus { outline: none }
.dashboard-container .btn-view-mode.active {
    border-top: 3px solid #0B5FFF;
    color: #333;
}
.dashboard-container .btn-view-mode .btn-header {
    font-size: 16px;
    font-weight: 500;
}
.dashboard-container .btn-view-mode .btn-body {
    font-size: 48px;
    font-weight: 500;
}