/* Dashboard Container Styles */

.dashboard-container .dashboard-item {
  float: left;
  margin-bottom: 20px;
  padding: 5px 0;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 1px 2px 3px 0 rgba(39,40,51,0.1);
}

.dashboard-item .dashboard-item-header {
  border-bottom: 1px #E7E7ED solid;
  margin-bottom: 15px;
  padding: 12px 24px 15px;
}

.dashboard-item .dashboard-title {
  font-weight: 500;
  margin: 0;
  color: #272833;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
}

.dashboard-item .large-text {
  font-weight: 500;
  color: #000000;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
}

.dashboard-container .loading {
  padding: 40px;
  text-align: center;
}
.dashboard-container .loading img {
  height: 50px;
  width: 50px;
}

.dashboard-container .tooltip-info {
  background: white;
  box-shadow: 0px 0px 3px #999;
  color: #333;
  font-size: 15px;
}

.dashboard-container .tooltip-info .tooltip-header {
  border-bottom: 1px solid #CCC;
  padding: 10px 20px;
}
.dashboard-container .tooltip-info .tooltip-body {
  padding: 10px 20px;
}

.dashboard-container .btn-view-mode {
  background: white;
  border: 0;
  border-top: 3px solid white;
  color: #AAA;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 20px 15px;
  text-align: left;
  width: 133px;
}
.dashboard-container .btn-view-mode:focus { outline: none; }
.dashboard-container .btn-view-mode:hover { background-color: #F3F3F3; border-top: 3px solid #0B5FFF; }
.dashboard-container .btn-view-mode.active {
  border-top: 3px solid #0B5FFF;
  color: #333;
}
.dashboard-container .btn-view-mode .btn-header {
  font-weight: 500;
  height: 19px;
  font-size: 16px;
  line-height: 19px;
}
.dashboard-container .btn-view-mode .btn-body {
  font-weight: 500;
  height: 58px;
  width: 54px;
  font-size: 48px;
  line-height: 58px;
}

/* Small screens */
@media (min-width: 769px) and (max-width: 1024px), (max-width: 550px) {
  .dashboard-item .large-text {
    font-size: 48px;
  }
}